<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Payments</title>
</head>
<body>
<h1>All Payments</h1>
<ul>
    <li th:each="payment : ${payments}">
        Payment ID: <span th:text="${payment.id}"></span>,
        Booking ID: <span th:text="${payment.booking.id}"></span>,
        Payment Date: <span th:text="${payment.paymentDate}"></span>,
        Amount: <span th:text="${payment.amount}"></span>
    </li>
</ul>
<a href="/payments/new">Create New Payment</a>
</body>
</html>
